div{
    padding: 10px;
}
:root {
  --bs-primary: rgb(108, 116, 164) !important;
  --bs-primary-rgb: 108, 116, 164 !important;
  --bs-primary-bg: rgb(108, 116, 164) !important;
  --bs-secondary: rgb(49, 63, 103) !important;
  --bs-secondary-rgb: 49, 63, 103 !important;
  --bs-secondary-bg: rgb(49, 63, 103) !important;
}
/**/
.my-gradient{
    background: linear-gradient(rgb(255, 250, 198), rgb(241, 201, 227), rgb(231, 114, 163))
}
#recipe-blog{
    border: 5px groove red;
    
}
 p,a{
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
}
 h1{
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}
  h2,h3{
  font-family: "Syne Tactile", system-ui;
  font-weight: 400;
  font-style: normal;
}

#hero {
  margin-top: 0;
  background: url();
  padding: 20px;
}
