div{
    border: 1px dotted black;
    padding: 10px;
}
:root {
  --bs-primary: rgb(108, 116, 164) !important;
  --bs-primary-rgb: 108, 116, 164 !important;
  --bs-primary-bg: rgb(108, 116, 164) !important;
  --bs-secondary: rgb(49, 63, 103) !important;
  --bs-secondary-rgb: 49, 63, 103 !important;
  --bs-secondary-bg: rgb(49, 63, 103) !important;
}
/**/
.my-gradient{
    background: linear-gradient(rgb(255, 250, 198), rgb(241, 201, 227), rgb(231, 114, 163))
}
#recipe-blog{
    border: 5px groove red;
    
}